# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
*.log

# Project specific
assets/*.png
!assets/spidey_pixel_pro.png

# IDEs
.vscode/
.idea/
.project
.pydevproject
.settings/
*.swp
*.swo
